/**
 * Helper mixins
*/

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Media queries
@mixin bp($point) {
  @if $point == large {
    @media (min-width: 1280px) { @content; }
  } @else if $point == small {
    @media (max-width: 1279px) { @content; }
  }
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
  ::-moz-selection { // sass-lint:disable-line no-vendor-prefixes
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }

  ::selection {
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }
}

//Placeholders
//Usage:
//@include placeholder;
@mixin placeholder {
  // sass-lint:disable no-vendor-prefixes
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

$respond-to-queries: (
  smartphone-small: 'all and (max-width: 360px)',
  smartphone: 'all and (max-width: 600px)',
  tablet-portrait: 'all and (max-width: 768px)',
  tablet-medium: 'all and (max-width: 880px)',
  tablet: 'all and (max-width: 1024px)',
  desktop-small: 'all and (max-width: 1150px)',
  desktop-medium: 'all and (max-width: 1240px)',
  desktop-large: 'all and (min-width: 1680px)'
);

@mixin respond-to($query) {
  $media_query: $query;
  @if map-has-key($respond-to-queries, $query) {
    $media_query: map-get($respond-to-queries, $query);
  }

  @media #{$media_query} {
    @content;
  }
}

// Equal Column Flex Grid with Gutters
@mixin flex-column($repeat, $gutter-horizontal: 0, $gutter-vertical: 0, $base-percent: 99.99%) {

  // Don't add complexity if not subtracting anything
  $gutter-subtract: ($gutter-horizontal - $gutter-horizontal * 1 / $repeat);
  @if unitless($gutter-horizontal) and $gutter-horizontal == 0 {
    $gutter-subtract: 1px * 0;
  }

  flex: 0 0 calc(#{$base-percent} * 1 / #{$repeat} - #{$gutter-subtract});
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: calc(#{$base-percent} * 1 / #{$repeat} - #{$gutter-subtract});

  &:nth-of-type(n) {
    margin-top: $gutter-vertical;
    margin-right: $gutter-horizontal;
  }

  &:nth-of-type(#{$repeat}n) {
    margin-right: 0;
  }

  // No gutter on top grid elements
  &:nth-of-type(-n+#{$repeat}) {
    margin-top: 0;
  }
}
