

/* Core variables */
@import 'base/vars';

/* Mixins, helpers and functions */
@import 'base/mixins';



// Mobile menu

#mobile-menu {
  button {
    &.js-menu-toggle {
      background-color: var(--primary-color);
    }
  }
  
  .bg-palette-navigationBackground-color {
    .w-full {
      background-color: var(--primary-color);
    }
  }
}

.o-button {
  color: var(--primary-white);
  padding: 12px 35px;
  border: solid 1px var(--primary-color);
  background-color: var(--primary-color);
  margin-top: .5rem;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
  &:hover, &:focus {
    color: var(--primary-color);
    background-color: var(--primary-white);
    border: solid 1px var(--primary-color);
  }
}