

/* Core variables */
@import 'base/vars';

/* Mixins, helpers and functions */
@import 'base/mixins';

// Nav links.
.text-palette-navigationLink-color {
  color: var(--primary-gray) !important;
  letter-spacing: 1px !important;
}

// Mobile menu

#mobile-menu {
  button {
    &.js-menu-toggle {
      background-color: var(--primary-color);
    }
  }
  
  .bg-palette-navigationBackground-color {
    .w-full {
      background-color: var(--primary-color);
    }
  }
}

// global hero

.h-hero-image {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.5);
    z-index: 1;
  }

  .relative {
    z-index: 2;
  }

  .text-hero {
    max-width: 950px;
    line-height: 1;
    margin-left: 0;
    margin-right: 0;
    text-shadow: none;
    font-weight: 100;
  }
}

.o-button {
  color: var(--primary-black);
  padding: 12px 35px;
  border: solid 1px var(--primary-black);
  background-color: transparent;
  margin-top: .5rem;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
  &:hover, &:focus {
    color: var(--primary-white);
    background-color: var(--primary-black);
    border: solid 1px var(--primary-black);
  }
}


footer {
  .bg-rg-footer {
    display: none;
  }
}