
/* Core variables */
@import 'base/vars';

/* Mixins, helpers and functions */
@import 'base/mixins';

// Header
header {
  position: fixed !important;
}

// Hero.
.h-hero-image {
  min-height: 100vh;
}

#content {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;
  padding-left: 4rem;
  padding-right: 4rem;
}
#sidebar {
  display: none;
}

// Meet the team
.meet-team {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.meet-team__container {
  display: flex;
  flex-direction: row;
  margin: auto;
  @include respond-to(tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.meet-team__image {
  width: 50%;
  max-height: 650px;
  margin-right: 50;
  @include respond-to(tablet) {
    width: 100%;
    margin-right: 0;
  }
}
.meet-team__image img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  width: 100%;
  object-fit: cover;
}
.meet-team__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  @include respond-to(tablet) {
    justify-content: flex-start;
    width: 100%;
  }
}
.meet-team__content-text {
  position: relative;
  padding: 1.5rem 2rem;
}
.meet-team__content-text h2 {
font-size: 4rem;
margin-bottom: 2rem;
line-height: 1;
@include respond-to(tablet) {
  margin: 0;
}
}


